@font-face {
  font-family: "vazir";
  src: url("../font/Vazir.eot") format("embedded-opentype"),
    url("../font/Vazir.woff") format("woff"),
    url("../font/Vazir.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "vazir";
  src: url("../font/Vazir-Bold.eot") format("embedded-opentype"),
    url("../font/Vazir-Bold.woff") format("woff"),
    url("../font/Vazir-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

$white: #ffffff;
$light: #f7f7f7;
$light-grey: #606060;
$dark: #333;
$accent1: #204464;
$accent2: #9152eb;
$hover: #7340bb;
$accent3: #d2b5d7;
